html {
  background: rgba(90, 90, 243, 0.671);
}

.App {
  font-family: Poppins;
  text-align: center;
  color: #f0f0f0;
  display: block;
  margin: 0 20%;
}

.App--Images {
  width: 50%;
  margin-top: -1rem;
}

@media (max-width: 500px) {
  .App--Images {
    width: 100%;
  }
}
